@import "../../variables";

//!  ----Top section ---
.home-top-container {
    display: flex;
    justify-content: center;
    // height: 100vh;
    // background-color: rgb(210, 120, 120);
    z-index: 2;

    .home-img-container {
        // height: 80vh;
        // width: 50%;
        margin-left: -28vw;
        margin-top: -13vh;
        // left: -40px;
        // position: absolute;
        z-index: 2;
        img {
            height: 800px;
            width: 65vw;
            border-radius: 100%;
            object-fit: cover;
        }
    }
    .home-text-container {
        // background-color: palegoldenrod;
        margin-top: 70vh;
        margin-left: 50px;
        width: 40%;
        z-index: 2;

        h1 {
            font-family: var($secondary-font-family);
            text-shadow: var($trident-text-shadow);
            // font-size: var($title-h1-font-size);
            font-size: 60px;
            font-weight: 900;
            line-height: 0.89;
        }

        p {
            font-weight: 700;
            font-size: 20px;
            margin-top: 30px;
            line-height: 1.2;
        }
    }
}

.triangle {
    // absolute top-5 z-[1] left-[250px] right-[-400px] overflow-hidden
    position: absolute;
    top: 20px;
    z-index: 1;
    left: 250px;
    right: -400px;
    overflow: hidden;
}

//!  ----Home Pick1 ---
.homePick-1-container {
    margin-top: 130px;
    z-index: 3;
    padding: 20px;
    // background-color: red;
    position: relative;

    .section-heading {
        h1 {
            font-size: 35px;
            // padding: 20px;
            font-family: $secondary-font-family;
            font-weight: 900;
            margin-bottom: 60px;
        }
    }

    .homePick-product-cards {
        display: flex;
        // width: 100%;
        // overflow-x: scroll;
        // flex-wrap: wrap;
        justify-content: space-between;
        gap: 16px;
    }
}

//!  ---- Home Store ---
.home-store-container {
    z-index: 4;
    position: relative;
    padding: 20px;
    h1 {
        font-size: 40px;
        text-align: center;
        font-family: $secondary-font-family;
        font-weight: 900;
    }

    .home-store-form-container {
        form {
            color: black;
            background-color: white;
            display: flex;
            justify-content: center;
            align-items: center;

            border-radius: 30px;
            padding: 30px 20px;
            // width: 100%;
            margin: auto;
            gap: 10px;
            flex-wrap: wrap;
            font-family: $base-font-family;

            & > div {
                // background-color: rgb(217, 179, 179);
                display: flex;
                flex-direction: column;
                gap: 10px;

                label {
                    font-size: 18px;
                    font-weight: 600;
                    font-family: $secondary-font-family;

                    span {
                        color: rgba(255, 0, 0, 0.751);
                    }
                }
                input,
                select {
                    outline: 3px solid #0247ad;
                    // background-color: pink;
                    font-size: 18px;
                    color: rgba(0, 0, 0, 0.523);
                    padding: 15px 20px;
                    border-radius: 18px;
                    min-width: 200px;

                    &:focus {
                        outline: 2px solid $color-brand-highlight-senary;
                        border: none;
                    }
                }

                .select-box-container {
                    position: relative;

                    .select-box {
                        width: 100%;
                        padding-right: 30px; /* Add some padding to the right to make space for the arrow */
                        -webkit-appearance: none; /* Remove default dropdown arrow */
                        -moz-appearance: none; /* Remove default dropdown arrow */
                        appearance: none; /* Remove default dropdown arrow */
                    }

                    .select-box-arrow {
                        position: absolute;
                        top: 50%;
                        right: 10px; /* Position the arrow to the right */
                        pointer-events: none; /* Allow clicks to pass through to the select box */
                        transform: translateY(-50%);
                        font-size: 22px;
                        color: #0247ad;
                        font-weight: 700;
                    }
                    select {
                        appearance: none;
                    }
                }
            }
        }
    }
}

//! ---- Center Text -----
.center-text-container {
    margin: 100px auto;
    padding: 140px 0px;
    text-align: center;
    position: relative;
    // background-color: green;
    z-index: 2;

    .center-circle {
        background-color: #0243a3;
        height: 1000px;
        width: 100%;
        border-radius: 100%;
        // margin: auto;

        position: absolute;
        top: -65vh;
        z-index: -1;
    }

    h1 {
        // font-family: $base-font-family;
        font-size: 45px;
        font-weight: 900;
    }
}

//!----- Home Features ------
.homeFeatures-container {
    z-index: 2;
    position: relative;
    background-color: white;
    color: $color-brand-secondary;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 70px 20px;
    border-radius: 30px;
    padding: 70px 10px;

    .homeFeatures-img {
        width: 50%;
        // background-color: red;
        img {
            // height: 600px;
            padding-top: 30px;
            width: 100%;
            transform: scale(1.3);

            object-fit: cover;
        }
    }

    .homeFeatures-texts {
        width: 50%;
        padding: 0px 30px;

        h1 {
            font-size: 40px;
            font-weight: 900;
            font-family: $base-font-family;
        }

        .tick-options-container {
            margin: 35px 0px;

            .tick-point {
                display: flex;
                // justify-content: center;
                align-items: center;
                text-align: center;
                gap: 10px;

                .tick-icon {
                    font-size: 20px;
                    // font-weight: 500;
                }

                h4 {
                    font-size: 17px;
                    font-weight: 600;
                }
            }
        }

        p {
            font-size: 17px;
            font-family: $base-font-family;
            margin-bottom: 30px;
            padding-right: 50px;
        }
    }
}
//! ---- Home Follow -----
.home-follow-container {
    z-index: 3;
    position: relative;
    h1 {
        text-align: center;
        // font-family: $base-font-family;
        font-weight: 900;
        font-size: 55px;
    }
    p {
        margin-top: 30px;
        text-align: center;
        // font-family: $base-font-family;
        font-weight: 700;
        font-size: 19px;
    }

    .home-social-container {
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        gap: 10px;
        margin-top: 40px;

        a {
            color: rgba(255, 255, 255, 0.967);
            font-size: 40px;
            font-weight: 200;
            background-color: #023074d6;
            padding: 20px;
            border-radius: 100%;
            transition: all 0.3s ease-in-out;

            &:hover {
                transform: scale(1.1);
            }
        }
    }
}

//!  ----Home Pick2 ---
.homePick-2-container {
    margin-bottom: -70px;
    padding: 0px 20px;
    h1 {
        margin-top: 200px;
        text-align: center;
        font-family: $secondary-font-family;
        font-weight: 800;
        font-size: 42px;
        margin-bottom: 60px;
    }

    .homePick-product-cards {
        display: flex;
        // flex-wrap: wrap;
        justify-content: space-between;
        // overflow-x: scroll;
        gap: 16px;
    }
}

//!------- Responsive --------
@media (max-width: 1121px) {
    .homePick-1-container {
        margin-top: 100px;
        z-index: 3;
        padding: 20px;
        // background-color: red;
        position: relative;

        .section-heading {
            h1 {
                font-size: 35px;
                // padding: 20px;
                font-family: $secondary-font-family;
                font-weight: 900;
                margin-bottom: 60px;
            }
        }

        .homePick-product-cards {
            overflow-x: scroll;
        }
    }
    .homePick-2-container {
        margin-bottom: -70px;
        padding: 0px 20px;
        z-index: 9;
        position: relative;
        h1 {
        }

        .homePick-product-cards {
            overflow-x: scroll;
            // gap: 16px;
        }
    }
}
@media (max-width: 900px) {
    .home-top-container {
        display: flex;
        justify-content: center;
        // height: 100vh;
        // background-color: rgb(233, 6, 6);
        z-index: 2;

        .home-img-container {
            // height: 80vh;
            // width: 50%;
            margin-left: -70vw;
            margin-top: -10vh;
            // left: -40px;
            // position: absolute;
            z-index: 2;
            img {
                height: 800px;
                width: 1200px;
                border-radius: 100%;
                object-fit: fill;
            }
        }
        .home-text-container {
            // background-color: palegoldenrod;
            margin-top: 30vh;
            padding-right: 30px;
            margin-left: 50px;
            width: 50%;
            z-index: 2;

            h1 {
                font-family: var($secondary-font-family);
                text-shadow: var($trident-text-shadow);
                // font-size: var($title-h1-font-size);
                font-size: 60px;
                font-weight: 900;
                line-height: 0.89;
            }

            p {
                font-weight: 700;
                font-size: 20px;
                margin-top: 30px;
                line-height: 1.2;
            }
        }
    }

    .homePick-1-container {
        margin-top: 100px;
        z-index: 3;
        position: relative;

        .section-heading {
            h1 {
                font-size: 35px;
                padding: 20px;
                font-family: $secondary-font-family;
                font-weight: 900;
            }
        }

        .homePick-product-cards {
            // display: flex;
            // flex-wrap: wrap;
            overflow-x: scroll;
            // justify-content: center;
            // gap: 16px;
        }
    }
}

@media (max-width: 750px) {
    .home-top-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        // background-color: red;

        // height: 70vh;
        // margin-bottom: -25vh;

        // background-color: rgb(233, 6, 6);
        z-index: 2;

        .home-img-container {
            // height: 80vh;
            // width: 50%;
            margin-left: 0;
            // margin-top: 40vh;
            // left: -40px;
            // position: absolute;
            z-index: 2;
            img {
                height: 500px;
                width: 500px;
                border-radius: 100%;
                object-fit: fill;
            }
        }
        .home-text-container {
            // background-color: palegoldenrod;
            margin-top: 10vh;
            padding-right: 30px;
            margin-left: 50px;
            width: 100%;
            z-index: 2;

            h1 {
                font-family: var($secondary-font-family);
                text-shadow: var($trident-text-shadow);
                // font-size: var($title-h1-font-size);
                font-size: 45px;
                font-weight: 900;
                line-height: 0.89;
                // line-height: 22px;
            }

            p {
                font-weight: 700;
                font-size: 18px;
                margin-top: 15px;
                line-height: 1.2;
                margin-bottom: 20px;
            }
        }
    }

    .homePick-1-container {
        .section-heading {
            h1 {
                font-size: 35px;
                padding: 20px;
            }
        }

        .homePick-product-cards {
        }
    }

    .home-store-container {
        z-index: 4;
        position: relative;
        h1 {
            font-size: 40px;
            padding: 20px;
            text-align: center;
            font-family: $secondary-font-family;
            font-weight: 900;
        }

        .home-store-form-container {
            form {
                color: black;
                background-color: white;
                display: flex;
                justify-content: center;
                align-items: center;

                border-radius: 2.4rem;
                padding: 30px 30px;
                width: 96%;
                margin: auto;
                gap: 10px;
                flex-wrap: wrap;
                font-family: $base-font-family;

                & > div {
                    width: 100%;

                    label {
                        font-size: 18px;
                        font-weight: 600;
                        font-family: $secondary-font-family;

                        span {
                            color: rgba(255, 0, 0, 0.751);
                        }
                    }
                    input,
                    select {
                        width: 100%;

                        &:focus {
                        }
                    }

                    .select-box-container {
                        select {
                        }

                        span {
                        }
                    }
                }
            }
        }
    }

    .homeFeatures-container {
        // background-color: red;
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: 70px 20px;
        border-radius: 30px;
        padding: 70px 10px;

        .homeFeatures-img {
            width: 100%;
            // background-color: red;
            img {
                // height: 600px;
                padding-top: 30px;
                width: 100%;
                transform: scale(1.3);

                object-fit: cover;
            }
        }

        .homeFeatures-texts {
            width: 100%;
            padding: 0px 30px;

            h1 {
                font-size: 40px;
                font-weight: 900;
                font-family: $base-font-family;
            }

            .tick-options-container {
                margin: 35px 0px;

                .tick-point {
                    display: flex;
                    // justify-content: center;
                    align-items: center;
                    text-align: center;
                    gap: 10px;

                    .tick-icon {
                        font-size: 20px;
                        // font-weight: 500;
                    }

                    h4 {
                        font-size: 17px;
                        font-weight: 600;
                    }
                }
            }

            p {
                font-size: 17px;
                font-family: $base-font-family;
                margin-bottom: 30px;
                padding-right: 50px;
            }
        }
    }
}

@media (max-width: 500px) {
    .home-top-container {
        .home-img-container {
            margin-left: -28vw;
            margin-top: 3vh;
            margin-left: 0;

            img {
                height: 380px;
                width: 380px;
            }
        }
        .home-text-container {
            // background-color: palegoldenrod;
            margin-top: 10vh;
            padding-right: 30px;
            margin-left: 50px;
            width: 100%;
            z-index: 2;

            h1 {
                font-size: 45px;

                line-height: 0.89;
            }

            p {
                font-weight: 700;
                font-size: 18px;
                margin-top: 15px;
                line-height: 1.2;
                margin-bottom: 20px;
            }
        }
    }

    .home-follow-container {
        z-index: 3;
        position: relative;
        padding: 10px;
        h1 {
            text-align: center;
            // font-family: $base-font-family;
            font-weight: 900;
            font-size: 45px;
        }
        p {
            margin-top: 30px;
            text-align: center;
            // font-family: $base-font-family;
            font-weight: 700;
            font-size: 19px;
        }

        .home-social-container {
            display: flex;
            text-align: center;
            align-items: center;
            flex-wrap: wrap;
            justify-content: center;
            gap: 10px;
            margin-top: 40px;

            a {
                color: rgba(255, 255, 255, 0.967);
                font-size: 32px;
                font-weight: 200;
                background-color: #023074d6;
                padding: 15px;
                border-radius: 100%;
                transition: all 0.3s ease-in-out;

                &:hover {
                    transform: scale(1.1);
                }
            }
        }
    }

    .homeFeatures-container {
        // background-color: red;
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: 70px 20px;
        border-radius: 30px;
        padding: 40px 10px;

        .homeFeatures-img {
            width: 100%;
            // background-color: red;
            img {
                // height: 600px;
                padding-top: 0px;
                width: 100%;
                transform: scale(1.3);

                object-fit: cover;
            }
        }

        .homeFeatures-texts {
            width: 100%;
            padding: 0px 10px;

            h1 {
                font-size: 35px;
                font-weight: 900;
                font-family: $base-font-family;
            }

            .tick-options-container {
                margin: 35px 0px;

                .tick-point {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    gap: 10px;

                    .tick-icon {
                        font-size: 20px;
                        // font-weight: 500;
                    }

                    h4 {
                        font-size: 17px;
                        font-weight: 600;
                    }
                }
            }

            p {
                font-size: 17px;
                font-family: $base-font-family;
                margin-bottom: 30px;
                padding-right: 0px;
                justify-content: center;
            }
        }
    }
}
