@import "../../variables";

.home-main {
    padding: 0px 75px;
    max-width: 1280px;
    padding-bottom: 30px;
    // background-color: red;
}
//!  ----Top section ---
.home-top-container {
    z-index: 2;
    position: relative;
    display: flex;
    justify-content: center;

    .home-img-container {
        position: relative;

        width: 710px;
        margin-left: -13%;

        img {
            height: 600px;
            width: 85%;
            border-radius: 100%;
            object-fit: cover;
            transform: scale(1.3);
            z-index: 2;
        }

        .video-btn-container-1 {
            position: absolute;
            z-index: 99;
            bottom: -6%;
            right: 14%;
        }
    }

    .home-text-container {
        display: flex;
        flex-direction: column;
        text-align: left;

        justify-content: center;
        margin-top: 32%;
        margin-left: 3%;
        // background-color: red;

        width: 50%;

        z-index: 2;

        h1 {
            font-family: $secondary-font-family;
            text-shadow: $trident-text-shadow;
            font-size: 72px;
            font-weight: 900;
            line-height: 0.89;
        }

        p {
            font-weight: 700;
            font-size: 18px;
            margin-top: 15px;
            line-height: 1.4;
            margin-bottom: 20px;
        }
    }
}

.triangle {
    // absolute top-5 z-[1] left-[250px] right-[-400px] overflow-hidden
    position: absolute;
    top: 20px;
    z-index: 1;
    left: 250px;
    right: -400px;
    overflow: hidden;
}

//!  ----Home Pick1 ---
.homePick-1-container {
    z-index: 3;
    padding-top: 18%;
    position: relative;
    margin-bottom: 10%;
    // background-color: red;

    .section-heading {
        position: relative;
        z-index: 2;
        text-shadow: $shadow-blue;
        h1 {
            font-size: 40px;
            // padding: 20px;
            font-family: $secondary-font-family;
            font-weight: 900;
            margin-bottom: 60px;
            position: relative;
            z-index: 2;
            text-shadow: $trident-text-shadow;
            // text-shadow: 2px 2px #ff0000;
        }
    }

    .homePick-product-cards {
        display: flex;
        justify-content: center;
        gap: 30px;
        position: relative;
        z-index: 3;
        // overflow-x: scroll;
    }
}

//!  ---- Home Store ---
.home-store-container {
    z-index: 4;
    position: relative;
    padding: 20px 0px;

    h1 {
        font-size: 42px;
        margin-bottom: 4%;
        text-align: center;
        font-family: $secondary-font-family;
        font-weight: 900;
        position: relative;
        z-index: 2;
    }

    .home-store-form-container {
        form {
            color: black;
            background-color: white;
            display: flex;
            justify-content: center;
            align-items: center;

            border-radius: 30px;
            padding: 30px 20px;
            // width: 100%;
            margin: auto;
            gap: 10px;
            flex-wrap: wrap;
            font-family: $base-font-family;
            position: relative;
            z-index: 2;

            & > div {
                // background-color: rgb(217, 179, 179);
                display: flex;
                flex-direction: column;
                gap: 10px;

                label {
                    font-size: 18px;
                    font-weight: 600;
                    font-family: $secondary-font-family;

                    span {
                        color: rgba(255, 0, 0, 0.751);
                    }
                }
                input,
                select {
                    outline: 3px solid #0247ad;
                    // background-color: pink;
                    font-size: 18px;
                    color: rgba(0, 0, 0, 0.523);
                    padding: 15px 20px;
                    border-radius: 18px;
                    min-width: 200px;

                    &:focus {
                        outline: 2px solid $color-brand-highlight-senary;
                        border: none;
                    }
                }

                .select-box-container {
                    position: relative;

                    .select-box {
                        width: 100%;
                        padding-right: 30px; /* Add some padding to the right to make space for the arrow */
                        -webkit-appearance: none; /* Remove default dropdown arrow */
                        -moz-appearance: none; /* Remove default dropdown arrow */
                        appearance: none; /* Remove default dropdown arrow */
                    }

                    .select-box-arrow {
                        position: absolute;
                        top: 50%;
                        right: 10px; /* Position the arrow to the right */
                        pointer-events: none; /* Allow clicks to pass through to the select box */
                        transform: translateY(-50%);
                        font-size: 22px;
                        color: #0247ad;
                        font-weight: 700;
                    }
                    select {
                        appearance: none;
                    }
                }
            }
        }
    }
}

//! ---- Center Text -----
.center-text-container {
    margin: 120px auto;
    padding: 140px 0;
    text-align: center;
    position: relative;
    // background-color: green;
    z-index: 2;
    .star-02 {
        position: absolute;
        top: 30%;
        left: 0%;
    }
    .center-circle-container {
        position: relative;
        display: inline-block;

        h1 {
            font-size: 56px;
            font-weight: 900;
            position: relative;
            z-index: 1;
            font-family: $base-font-family;
        }

        .center-circle {
            background-color: #0243a3;
            height: 1250px;
            width: 1250px;
            border-radius: 50%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: -1;
        }
    }
}

//!----- Home Features ------
.homeFeatures-container {
    z-index: 2;
    position: relative;
    background-color: white;
    color: $color-brand-secondary;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 70px 0px;
    border-radius: 30px;
    padding: 70px 10px;

    .homeFeatures-img {
        width: 50%;
        position: relative;
        // background-color: rgb(217, 1, 246);

        img {
            padding-top: 30px;
            width: 100%;
            transform: scale(1.3);
            object-fit: cover;
        }

        .play-btn-container {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    .homeFeatures-texts {
        width: 50%;
        padding: 0px 30px;

        h1 {
            font-size: 40px;
            font-weight: 900;
            font-family: $base-font-family;
        }

        .tick-options-container {
            margin: 35px 0px;

            .tick-point {
                display: flex;
                // justify-content: center;
                align-items: center;
                text-align: center;
                gap: 10px;

                .tick-icon {
                    font-size: 19px;
                    // font-weight: 500;
                }

                h4 {
                    font-size: 18px;
                    font-weight: 600;
                }
            }
        }

        p {
            font-size: 18px;
            font-family: $base-font-family;
            margin-bottom: 30px;
            padding-right: 50px;
        }
    }
}
//! ---- Home Follow -----
.home-follow-container {
    z-index: 3;
    position: relative;
    margin-top: 15%;
    h1 {
        // text-align: center;
        margin: auto;
        // background-color: red;
        font-weight: 900;
        font-size: 72px;
        max-width: 30%;
    }
    p {
        margin-top: 30px;
        text-align: center;
        // font-family: $base-font-family;
        font-weight: 700;
        font-size: 18px;
    }

    .home-social-container {
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        gap: 10px;
        margin-top: 40px;
        flex-wrap: wrap;

        a {
            color: rgba(255, 255, 255, 0.967);
            font-size: 40px;
            font-weight: 200;
            background-color: #022e70;
            padding: 20px;
            border-radius: 100%;
            transition: all 0.3s ease-in-out;

            &:hover {
                transform: scale(1.07);
                // transform-origin: 50% 0%;
            }
        }
    }
}

//!  ----Home Pick2 ---
.homePick-2-container {
    margin-bottom: -13%;
    // background-color: red;
    // padding: 0px 20px;
    h1 {
        margin-top: 200px;
        text-align: center;
        font-family: $secondary-font-family;
        font-weight: 800;
        font-size: 42px;
        margin-bottom: 60px;
        text-transform: uppercase;
    }

    .homePick-product-cards {
        display: flex;
        justify-content: center;
        gap: 30px;
        position: relative;
        z-index: 3;
    }
}

//!------- Responsive --------

@media (max-width: 1279px) {
    .home-main {
        padding: 0px 35px;

        // background-color: red;
    }
    //!  ----Top section ---
    .home-top-container {
        // background-color: rgb(245, 13, 13);
        z-index: 2;
        position: relative;
        display: flex;
        justify-content: center;

        .home-img-container {
            position: relative;
            // padding: 10px;
            width: 700px;
            margin-left: -10%;
            //  padding: 10%;
            img {
                // height: 700;
                width: 80%;
                border-radius: 100%;
                object-fit: cover;
                transform: scale(1.3);
                z-index: 2;
            }

            .video-btn-container-1 {
                // background-color: red;
                position: absolute;
                z-index: 99;
                bottom: -1%;
                right: 20%;
            }
        }

        .home-text-container {
            margin-top: 35%;
            margin-left: -2%;

            width: 50%;

            z-index: 2;

            h1 {
                font-family: $secondary-font-family;
                text-shadow: $trident-text-shadow;

                font-size: 56px;
                font-weight: 900;
                line-height: 0.89;
            }

            p {
                font-weight: 700;
                font-size: 18px;
                margin-top: 30px;
                line-height: 1.4;
            }
        }
    }

    //!  ----Home Pick1 ---
    .homePick-1-container {
        .section-heading {
            h1 {
                font-size: 32px;
            }
        }

        .homePick-product-cards {
            gap: 25px;
            padding: 20px 0px;
            display: flex;
            justify-content: space-between;
            // overflow-x: scroll;
        }
    }

    //!  ---- Home Store ---
    .home-store-container {
        h1 {
        }
    }

    //! ---- Center Text -----
    .center-text-container {
        .star-02 {
        }
        .center-circle-container {
            h1 {
                font-size: 42px;
            }

            .center-circle {
                height: 1100px;
                width: 1100px;
            }
        }
    }

    //!----- Home Features ------
    .homeFeatures-container {
        .homeFeatures-texts {
            h1 {
                font-size: 32px;
            }
            .tick-options-container {
                .tick-point {
                    .tick-icon {
                        font-size: 18px;
                    }
                }
            }
        }
    }
    //! ---- Home Follow -----
    .home-follow-container {
        h1 {
            // margin: auto;
            text-align: center;
            font-weight: 900;
            font-size: 56px;
            max-width: 100%;
        }
    }

    //!  ----Home Pick2 ---
    .homePick-2-container {
        margin-bottom: -13%;

        .homePick-product-cards {
            gap: 25px;
            padding: 20px 0px;
            display: flex;
            justify-content: space-between;
        }
    }
}

@media (max-width: 1170px) {
    .home-top-container {
        // background-color: rgb(245, 13, 13);
        z-index: 2;
        position: relative;
        display: flex;
        justify-content: center;

        .home-img-container {
            position: relative;
            // padding: 10px;
            width: 700px;
            margin-left: -13%;
            margin-top: -3%;
            //  padding: 10%;
            img {
                // height: 700;
                width: 83%;
                border-radius: 100%;
                object-fit: cover;
                transform: scale(1.3);
                z-index: 2;
            }

            .video-btn-container-1 {
                // background-color: red;
                position: absolute;
                z-index: 99;
                bottom: -7%;
                right: 16%;
            }
        }

        .home-text-container {
            margin-top: 35%;
            margin-left: -2%;

            width: 50%;

            z-index: 2;

            h1 {
                font-family: $secondary-font-family;
                text-shadow: $trident-text-shadow;

                font-size: 56px;
                font-weight: 900;
                line-height: 0.89;
            }

            p {
                font-weight: 700;
                font-size: 18px;
                margin-top: 30px;
                line-height: 1.4;
            }
        }
    }
}

@media (max-width: 1024px) {
    .home-top-container {
        // background-color: rgb(245, 13, 13);
        z-index: 2;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

        .home-img-container {
            position: relative;
            // padding: 10px;
            width: 700px;
            margin-left: -10%;
            //  padding: 10%;
            margin-top: -3%;
            img {
                height: 550px;
                width: 80%;
                border-radius: 100%;
                object-fit: cover;
                transform: scale(1.3);
                z-index: 2;
            }

            .video-btn-container-1 {
                // background-color: red;
                position: absolute;
                z-index: 99;
                bottom: -14%;
                right: 15%;
            }
        }

        .home-text-container {
            margin-top: 15%;
            margin-left: -2%;
            // background-color: yellow;
            width: 50%;

            z-index: 2;

            h1 {
                font-family: $secondary-font-family;
                text-shadow: $trident-text-shadow;

                font-size: 56px;
                font-weight: 900;
                line-height: 0.89;
            }

            p {
                font-weight: 700;
                font-size: 18px;
                margin-top: 30px;
                line-height: 1.4;
            }
        }
    }

    .homePick-1-container {
        .section-heading {
            h1 {
                font-size: 32px;
            }
        }

        .homePick-product-cards {
            gap: 25px;
            padding: 20px 0px;
            display: flex;
            justify-content: space-between;
            overflow-x: scroll;
        }
    }

    .homePick-2-container {
        margin-bottom: -13%;

        .homePick-product-cards {
            gap: 25px;
            padding: 20px 0px;
            display: flex;
            justify-content: space-between;
            overflow-x: scroll;
            // background-color: red;
        }
    }
}
@media (max-width: 967px) {
    .home-top-container {
        // background-color: rgb(245, 13, 13);
       

        .home-img-container {
            // background-color: red;
            position: relative;
            // padding: 10px;
            width: 700px;
            margin-left: -15%;
            //  padding: 10%;
            margin-top: -5%;
            img {
                height: 550px;
                width: 80%;
                border-radius: 100%;
                object-fit: cover;
                transform: scale(1.3);
                z-index: 2;
            }

            .video-btn-container-1 {
                // background-color: red;
                position: absolute;
                z-index: 99;
                bottom: -14%;
                right: 15%;
            }
        }

        .home-text-container {
            margin-top: 15%;
            margin-left: -2%;
            // background-color: yellow;
            width: 50%;

            z-index: 2;

            h1 {
                font-family: $secondary-font-family;
                text-shadow: $trident-text-shadow;

                font-size: 56px;
                font-weight: 900;
                line-height: 0.89;
            }

            p {
                font-weight: 700;
                font-size: 18px;
                margin-top: 30px;
                line-height: 1.4;
            }
        }
    }
}

@media (max-width: 750px) {
    .home-main {
        padding: 0px 15px;
        // background-color: red;
    }
    .home-top-container {
        // background-color: rgb(245, 13, 13);
        z-index: 2;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .home-img-container {
            position: relative;
            // padding: 10px;
            width: 400px;
            margin-left: 0%;
            //  padding: 10%;
            margin-top: 0%;
            img {
                height: 400px;
                width: 100%;
                border-radius: 100%;
                object-fit: cover;
                transform: scale(1.2);
                z-index: 2;
            }

            .video-btn-container-1 {
                // background-color: red;
                position: absolute;
                z-index: 99;
                bottom: -4%;
                right: -10%;
            }
        }

        .home-text-container {
            margin-top: 15%;
            margin-left: 0%;
            // background-color: yellow;
            width: 100%;

            z-index: 2;

            h1 {
                font-family: $secondary-font-family;
                text-shadow: $trident-text-shadow;

                font-size: 40px;
                font-weight: 900;
                line-height: 0.89;
            }

            p {
                font-weight: 700;
                font-size: 18px;
                margin-top: 30px;
                line-height: 1.4;
            }
        }
    }

    .homePick-1-container {
        .section-heading {
            h1 {
                font-size: 24px;
                padding: 10px 0px;
            }
        }
    }
    .center-text-container {
        .star-02 {
        }
        .center-circle-container {
            h1 {
                font-size: 28px;
            }

            .center-circle {
                height: 1100px;
                width: 1100px;
            }
        }
    }
    .home-store-container {
        z-index: 4;
        position: relative;
        h1 {
            font-size: 32px;
            padding: 20px;
            text-align: center;
            font-family: $secondary-font-family;
            font-weight: 900;
        }

        .home-store-form-container {
            form {
                color: black;
                background-color: white;
                display: flex;
                justify-content: center;
                align-items: center;

                border-radius: 2.4rem;
                padding: 30px 30px;
                width: 96%;
                margin: auto;
                gap: 10px;
                flex-wrap: wrap;
                font-family: $base-font-family;

                & > div {
                    width: 100%;

                    label {
                        font-size: 18px;
                        font-weight: 600;
                        font-family: $secondary-font-family;

                        span {
                            color: rgba(255, 0, 0, 0.751);
                        }
                    }
                    input,
                    select {
                        width: 100%;

                        &:focus {
                        }
                    }

                    .select-box-container {
                        select {
                        }

                        span {
                        }
                    }
                }
            }
        }
    }

    .home-follow-container {
        h1 {
            text-align: center;
            // font-family: $base-font-family;
            font-weight: 900;
            font-size: 40px;
        }
    }

    .homeFeatures-container {
        // background-color: red;
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: 70px 0px;
        border-radius: 30px;
        padding: 70px 0px;

        .homeFeatures-img {
            width: 100%;
            // background-color: red;
            img {
                // height: 600px;
                padding-top: 30px;
                width: 100%;
                transform: scale(1.3);

                object-fit: cover;
            }
        }

        .homeFeatures-texts {
            width: 100%;
            padding: 0px 30px;

            h1 {
                font-size: 24px;
                font-weight: 900;
                font-family: $base-font-family;
            }

            .tick-options-container {
                margin: 35px 0px;

                .tick-point {
                    display: flex;
                    // justify-content: center;
                    align-items: center;
                    text-align: center;
                    gap: 10px;

                    .tick-icon {
                        font-size: 20px;
                        // font-weight: 500;
                    }

                    h4 {
                        font-size: 17px;
                        font-weight: 600;
                    }
                }
            }

            p {
                font-size: 17px;
                font-family: $base-font-family;
                margin-bottom: 30px;
                padding-right: 50px;
            }
        }
    }

    .homePick-2-container {
        margin-bottom: -20%;
        // background-color: red;
        // padding: 0px 20px;
        h1 {
        }
    }
}

@media (max-width: 500px) {
    .home-top-container {
        // background-color: rgb(245, 13, 13);

        .home-img-container {
            width: 350px;

            img {
                height: 350px;
                width: 100%;
                border-radius: 100%;
                object-fit: cover;
                transform: scale(1);
                z-index: 2;
            }

            .video-btn-container-1 {
                // background-color: red;
                bottom: 0%;
                right: 0%;
            }
        }

        .home-text-container {
            margin-top: 15%;
            margin-left: 0%;
            // background-color: yellow;
        }
    }

    .homeFeatures-container {
        // background-color: red;
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: 70px 5px;
        border-radius: 30px;
        padding: 40px 10px;

        .homeFeatures-img {
            width: 100%;
            // background-color: red;
            img {
                // height: 600px;
                padding-top: 0px;
                width: 100%;
                transform: scale(1.3);

                object-fit: cover;
            }
        }

        .homeFeatures-texts {
            width: 100%;
            padding: 0px 10px;

            h1 {
                font-size: 35px;
                font-weight: 900;
                font-family: $base-font-family;
            }

            .tick-options-container {
                margin: 35px 0px;

                .tick-point {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    gap: 10px;

                    .tick-icon {
                        font-size: 20px;
                        // font-weight: 500;
                    }

                    h4 {
                        font-size: 17px;
                        font-weight: 600;
                    }
                }
            }

            p {
                font-size: 17px;
                font-family: $base-font-family;
                margin-bottom: 30px;
                padding-right: 0px;
                justify-content: center;
            }
        }
    }

    .homePick-2-container {
        margin-bottom: -33%;
        // background-color: red;
        // padding: 0px 20px;
        h1 {
        }
    }
}
