@import "../../variables";

.product-card-container {
    background-color: white;
    // color: black;
    width: 350px;
    min-height: 450px;
    border-radius: 30px;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 50px;
    box-shadow: $shadow-pink;
    transition: all 0.3s ease;

    &:hover {
        // transform;
        // background-color: red;
        transform: rotate(-3deg);
        transform-origin: 50% 50%;
    }

    .product-img-container {
        // background-color: red;

        img {
            height: 200px;
            width: 100%;
            margin-top: -50px;
            // background-color: red;
            object-fit: cover;
            // padding: 10px;
        }
    }

    .product-title {
        margin: 50px 0px;

        h2 {
            // text-transform: capitalize;
            font-size: 30px;
            font-weight: 800;
            font-family: $secondary-font-family;
            color: black;
        }
    }
}

.product-card2-container {
    background-color: white;
    // color: black;
    width: 300px;
    height: 350px;
    border-radius: 30px;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 50px;
    position: relative;
    box-shadow: $shadow-pink;

    transition: all 0.3s ease;

    &:hover {
        // transform;
        // background-color: red;
        transform: rotate(-3deg);
        transform-origin: 50% 50%;
    }

    .product-img-container-2 {
        position: absolute;
        top: -120px;
        img {
            height: 220px;
            width: 100%;

            // background-color: red;
            object-fit: cover;
            padding: 10px;
        }
    }
    .product-card-2-text-box {
        position: absolute;
        // background-color: red;
        margin-top: 50px;

        .product-title {
            margin-bottom: 60px;
            padding: 0px 15px;
            h2 {
                // text-transform: uppercase;
                font-size: 24px;
                font-weight: 700;
                color: black;
                font-family: $secondary-font-family;
            }
        }

        h3 {
            font-size: 18px;
            margin-top: 20px;
            text-decoration: underline;
            font-weight: 700;
            color: black;
        }
    }
}

@media (max-width: 900px) {
    .product-card-container {
        width: 350px;
        min-height: 450px;
        border-radius: 30px;
        justify-content: center;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px 20px;

        .product-img-container {
            // background-color: red;

            img {
                height: 180px;
                width: 100%;
                margin-top: -50px;
                // background-color: red;
                object-fit: cover;
                // padding: 10px;
            }
        }

        .product-title {
            margin: 50px 0px;

            h2 {
                text-transform: uppercase;
                font-size: 22px;
                font-weight: 700;
            }
        }
    }
}

@media (max-width: 500px) {
    .product-card-container {
        width: 280px;
        min-height: 400px;

        padding: 10px 20px;

        .product-img-container {
            // background-color: red;

            img {
            }
        }

        .product-title {
            margin: 50px 0px;

            h2 {
                text-transform: uppercase;
                font-size: 22px;
                font-weight: 700;
            }
        }
    }
}
