@import "variables";
@tailwind base;
@tailwind components;
@tailwind utilities;

.app-cls {
    background-color: #0358d6;
    color: white;
    padding-bottom: 20px;
}

//! ---Logo--
.logo-container {
    // border-radius: 100%;
    position: absolute;
    top: 10px;
    left: 30px;
    // display: flex;
    // justify-content: center;
    // text-align: center;
    // align-items: center;
    height: 150px;
    width: 150px;
    z-index: 99;
    background-color: white;

    img {
        vertical-align: middle;
        transform: scale(3);
    }
}
