@import "variables";
@tailwind base;
@tailwind components;
@tailwind utilities;

.app-cls {
    background-color: #0358d6;
    color: white;
    position: relative;

    .app-cls-inside {
        // display: flex;
        // justify-content: center;
        // // max-width: 1920px;
        // align-items: center;
        background-color: #0358d6;
    }
}
// ::-webkit-scrollbar {
//     display: none;
// }

.header2 {
    // background-color: red;
    // padding: 10px;
    position: relative;
}
@media (min-width: 1280px) {
    .app-cls {
        background-color: #0358d6;
        color: white;
        position: relative;
        // padding-bottom: 20px;
        // padding-bottom: 20px;
        display: flex;
        justify-content: center;

        .app-cls-inside {
            display: flex;
            justify-content: center;
            // max-width: 1920px;
            align-items: center;
        }
    }
}

//!-- animations----
