@import "variables";
@tailwind base;
@tailwind components;
@tailwind utilities;

.app-cls {
    background-color: #0358d6;
    color: white;
    // padding-bottom: 20px;
    // padding-bottom: 20px;
}

//! ---Logo--
.logo-container {
    border-radius: 100%;
    padding: 10px;
    position: absolute;
    top: 10px;
    left: 30px;
    height: 100px;
    width: 150px;
    z-index: 99;
    background-color: white;

    img {
        position: relative;
        vertical-align: middle;
        transform: scale(3);
        margin-top: -30px;
    }
}
